app = "APP_NAME"
primary_region = "sin"

[build]
image = "ghcr.io/viren070/aiostreams:latest"

[http_service]
internal_port = 3_000
processes = ["app"]

[[mounts]]
destination = "/app/data"
source = "data_volume"

[[vm]]
memory = "256mb"
size = "shared-cpu-1x"

[processes]
  app = "node --max-old-space-size=128 packages/server/dist/server"
