app = "APP_NAME"
primary_region = "bom"

[build]
  image = "ghcr.io/viren070/aiostreams:nightly"

[http_service]
  internal_port = 3000

[[mounts]]
  destination = "/app/data"
  source = "data_volume"

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"

[deploy]
  command = ["node", "--max-old-space-size=384", "/app/addon/server.js"]
